$navbar-default-bg: #08088A;
$navbar-default-bg: #08088A;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: blod;
}

#logo{
    color: black;
    text-decoration: none;
}

.center{
    text-align: center;
}

.btn-lg{
    font-size: 0.6em;
    background-color: #08088A;
}

