<div class="container">
  <footer class="footer">
   <small>
   <hr> </hr>
    copyright &copy <a href="https://www.rubygems.org"> Ruby On Rails Project </a>
    by <a href="http://www.youstinamasoud.com">Youstina Masoud </a>
   </small>
 </footer>
</div>